# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# terraform / terragrunt
*.terraform
*/**/.terragrunt-cache/
**/_.*.gen.tf
**/.terraform.lock.hcl
infra/modules/aws/lambda/bin/
infra/modules/aws/lambda/*.zip
infra/us-east-1/**/common.tf


#env files
env.list
.env.list
.env

**/bin/
**/*.zip

# talos
cp1

# helm
charts

