applicationsets:
  main:
    name: main
    generators:
      - git:
          repoURL: https://github.com/Fomiller/homelab.git
          revision: main
          directories:
            - path: k8s/**/*
    template:
      metadata:
        name: '{{path.basenameNormalized}}'
      spec:
        project: '{{path.basenameNormalized}}'
        source:
          repoURL: https://github.com/Fomiller/homelab.git
          targetRevision: main
          path: '{{path}}'
        destination:
          name: homelab
          namespace: '{{path.basenameNormalized}}'
        syncPolicy:
          automated:
            selfHeal: true
            prune: true
