# projects:
#   homelab:
#     description: "Project for my homelab applications"
#     sourceRepos:
#       - "https://github.com/Fomiller/homelab"
#     destinations:
#       - namespace: "*"
#         server: "https://kubernetes.default.svc"
#     clusterResourceWhitelist:
#       - group: "*"
#         kind: "*"
#
# applicationsets:
#   main:
#     name: main
#     generators:
#       - git:
#           repoURL: https://github.com/Fomiller/homelab.git
#           revision: main
#           directories:
#             - path: k8s/**/*
#     template:
#       metadata:
#         name: '{{path.basenameNormalized}}'
#       spec:
#         project: homelab
#         source:
#           repoURL: https://github.com/Fomiller/homelab.git
#           targetRevision: main
#           path: '{{path}}'
#         destination:
#           name: in-cluster
#           namespace: argocd
#         syncPolicy:
#           automated:
#             selfHeal: true
#             prune: true
