apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
- name: kube-prometheus-stack
  releaseName: prometheus
  repo: https://prometheus-community.github.io/helm-charts
  includeCRDs: true
  version: 79.8.2
  namespace: monitoring
  valuesFile: values.yaml
    
patches:
- target:
    version: v1
    kind: CustomResourceDefinition
    name: alertmanagerconfigs.monitoring.coreos.com
  path: alertmanagerconfigs.crd.patch.yaml
- target:
    version: v1
    kind: CustomResourceDefinition
    name: alertmanagers.monitoring.coreos.com
  path: alertmanagers.crd.patch.yaml
- target:
    version: v1
    kind: CustomResourceDefinition
    name: prometheusagents.monitoring.coreos.com
  path: prometheusagents.crd.patch.yaml
- target:
    version: v1
    kind: CustomResourceDefinition
    name: prometheuses.monitoring.coreos.com
  path: prometheuses.crd.patch.yaml
- target:
    version: v1
    kind: CustomResourceDefinition
    name: scrapeconfigs.monitoring.coreos.com
  path: scrapeconfigs.crd.patch.yaml
- target:
    version: v1
    kind: CustomResourceDefinition
    name: thanosrulers.monitoring.coreos.com
  path: thanosrulers.crd.patch.yaml
