apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true
    argocd.argoproj.io/ignore-healthcheck: "true"
  name: prometheuses.monitoring.coreos.comargocd-server
