apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

helmCharts:
- name: traefik
  repo: https://traefik.github.io/charts
  includeCRDs: true
  version: 37.4.0
  valuesFile: values.yaml
