apiVersion: v1
kind: Service
metadata:
  name: redpanda-console
  namespace: redpanda
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "redpanda-console"
spec:
  type: ClusterIP
  selector:
    app: redpanda-console
  ports:
    - name: http
      port: 80
      targetPort: 8080

