apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: root-applications
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/Fomiller/homelab
        revision: main
        directories:
          - path: k8s/apps/*
  template:
    metadata:
      name: '{{path.basename}}'
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: https://github.com/Fomiller/homelab
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true

