apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

resources:
- namespace.yaml

helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  version: 0.19.2
  releaseName: external-secrets
  includeCRDs: true
  namespace: external-secrets
  valuesFile: values.yaml

patches:
- target:
    version: v1
    kind: CustomResourceDefinition
    name: secretstores.external-secrets.io
  path: secretstores.patch.yaml
- target:
    version: v1
    kind: CustomResourceDefinition
    name: clustersecretstores.external-secrets.io
  path: clustersecretstores.patch.yaml
