apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- tailscale.patch.yaml

namespace: monitoring

helmCharts:
- name: grafana
  releaseName: grafana
  repo: https://grafana.github.io/helm-charts
  includeCRDs: true
  version: 10.2.0
  valuesFile: values.yaml
